[submodule "zsh_completion.d/git"]
	path = zsh_completion.d/git
	url = git://gist.github.com/591626.git
[submodule "cogscript/gittools"]
	path = cogscript/gittools
	url = https://github.com/tyru/gittools.git
[submodule "vimp_plugin/anekos-plugins"]
	path = vimp_plugin/anekos-plugins
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "dot.vim/vundle.git"]
	path = dot.vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "colorscheme/solarized"]
	path = colorscheme/solarized
	url = git://github.com/altercation/solarized.git
